apiVersion: apps/v1
kind: Deployment
metadata:
  name: #{projectname}#
  labels:
    app: #{projectname}#
spec:
  replicas: 2
  selector:
    matchLabels:
      app: #{projectname}#
  template:
    metadata:
      labels:
        app: #{projectname}#
    spec:
      containers:
      - name: #{projectname}#
        image: #{acrUrl}#/#{containerName}#/#{projectname}#:#{Build.BuildId}#
        imagePullPolicy: Always
        ports:
        - containerPort: 8080